.courses{
    width: 100%;
    height: 500px;
    background-color: rgb(250, 213, 125);
    display: flex;
    justify-content:space-around;
    align-items: center;
    .courses_title_div{
        p{
            font-size: 90px;
            font-family: 'Bebas Neue', sans-serif;
        }
    }
    .courses_list{
        display: flex;
        ul{
            margin-top: 40px;
            p{
                margin-left: 2px;
                font-family: 'Bebas Neue', sans-serif;
                font-size: 23px;
            }
            .arrow_div{
                display: flex;
                justify-content: space-between;
                img{
                    height: 34px;
                    width: 34px;
                    margin-bottom: 8px;
                    transition: transform .2s; 
                }
                img:hover{
                    transform: scale(1.3)
                }
            }
            li{
                font-family: 'Bebas Neue', sans-serif;
                font-size: 60px;
                list-style: none;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .line-1 {
                height: 3px;
                background: black;
              }
        }
    }
}