.courses{
    width: 100%;
    height: 500px;
    background-color: rgb(250, 213, 125);
    display: flex;
    justify-content:space-around;
    align-items: center;
    .courses_title_div{
        p{
            font-size: 90px;
            font-family: 'Bebas Neue', sans-serif;
        }
    }
    .courses_list{
        display: flex;
        ul{
            margin-top: 40px;
            p{
                margin-left: 2px;
                font-family: 'Bebas Neue', sans-serif;
                font-size: 23px;
            }
            .arrow_div{
                display: flex;
                justify-content: space-between;
                img{
                    height: 34px;
                    width: 34px;
                    margin-bottom: 8px;
                    transition: transform .2s; 
                }
                img:hover{
                    transform: scale(1.3)
                }
            }
            li{
                font-family: 'Bebas Neue', sans-serif;
                font-size: 60px;
                list-style: none;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .line-1 {
                height: 3px;
                background: black;
              }
        }
    }
    // WINDOW

    .content_certificate2, .content_certificate3, .content_certificate1{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        .certificate2_div, .certificate3_div, .certificate1_div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            img{
                width: 500px;
                height: auto;
            }
            .close{
                    position: absolute;
                    top: 4px;
                    right: 5px;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    color: rgb(255, 255, 255);
            }
        }
    }

}