.skills{
    width: 100%;
    height: 500px;
    background-color: rgb(250, 213, 125);
    display: flex;
    justify-content:space-around;
    align-items: center;
    .skills_title_div{
        p{
            font-size: 90px;
            font-family: 'Bebas Neue', sans-serif;
        }
    }
    .skills_list{
        display: flex;
        ul{
            margin-top: 40px;
            img{
                width: 24px;
                height: 24px;
                margin: 2px;
            }
            li{
                font-family: 'Bebas Neue', sans-serif;
                font-size: 60px;
                list-style: none;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .line-1 {
                height: 3px;
                background: black;
              }
        }
    }
}

.skills2{
    width: 100%;
    height: 300px;
    background-color: rgb(250, 213, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills_title_div2{
        p{
            font-size: 90px;
            font-family: 'Bebas Neue', sans-serif;
        }
    }
    .skills_list2{
        ul{
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 64px;
                height: 64px;
                margin-left: 40px;
                margin-right: 40px;
            }
            li{
                font-family: 'Bebas Neue', sans-serif;
                font-size: 60px;
                list-style: none;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .line-1 {
                height: 3px;
                background: black;
              }
        }
    }
}