h1{
    font-size: 90px;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(233, 181, 61);
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}



